h1 {
    color:blue;
    
}

h3 {
    color:rgb(158, 255, 206);
    text-shadow: 5in;
}

body {
    font-family: cursive;
    background-image:url("grades.png");
    background-size: 10%;
    
}
.anchor1 {
    background-color: aquamarine;
    color:aqua
    heigt: 200px
    width: 75px
    position:fixed;
    left: 50px
}
